In [159]:
from tensorflow import keras
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

In [141]:
df=pd.read_excel("train.xlsx")
df_test=pd.read_excel("test.xlsx")

In [13]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40
17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN,5.99
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN,6.34
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN,28.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,NaN,8.25
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN,23.50
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,1.87
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN,2.85
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.25
26,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,4.25
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,NaN,2.75
28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,Diesel,Automatic,Second,18.25 kmpl,1968 CC,187.74 bhp,5.0,53.14 Lakh,16.52
5990,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,Diesel,Manual,Third,13.93 kmpl,2179 CC,138 bhp,7.0,NaN,0.60
5991,Maruti Swift VDI,Hyderabad,2012,68238,Diesel,Manual,First,22.9 kmpl,1248 CC,74 bhp,5.0,NaN,4.80
5992,Skoda Superb Elegance 1.8 TSI AT,Mumbai,2011,42036,Petrol,Automatic,First,13.7 kmpl,1798 CC,157.75 bhp,5.0,NaN,6.25
5993,Hyundai Elantra SX,Mumbai,2014,55619,Petrol,Manual,First,16.3 kmpl,1797 CC,147.5 bhp,5.0,NaN,8.30
5994,Honda City 1.5 E MT,Pune,2009,60000,Petrol,Manual,Third,17.0 kmpl,1497 CC,118 bhp,5.0,NaN,3.25
5995,Renault Duster 85PS Diesel RxL Explore,Pune,2015,30000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,7.75
5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,Diesel,Automatic,First,16.36 kmpl,2179 CC,187.7 bhp,5.0,NaN,30.54
5997,Maruti Wagon R Duo Lxi,Jaipur,2010,70000,LPG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,2.27
5998,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,Petrol,Manual,Second,17.24 kmpl,1198 CC,73.9 bhp,5.0,NaN,2.96
5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
6000,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,Petrol,Manual,Second,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN,5.25
6001,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,17.56
6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
6003,Maruti Celerio VXI,Bangalore,2015,67600,Petrol,Manual,First,23.1 kmpl,998 CC,67.04 bhp,5.0,NaN,4.00
6004,Hyundai Getz GLE,Coimbatore,2007,66800,Petrol,Manual,First,15.3 kmpl,1341 CC,83 bhp,5.0,NaN,2.20
6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
6006,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,Diesel,Automatic,First,8.7 kmpl,2987 CC,224.34 bhp,5.0,NaN,10.75
6007,Maruti Swift Dzire Vdi BSIV,Delhi,2011,68000,Diesel,Manual,First,19.3 kmpl,1248 CC,73.9 bhp,5.0,NaN,2.75
6008,Porsche Panamera Diesel,Hyderabad,2013,40000,Diesel,Automatic,Second,17.85 kmpl,2967 CC,300 bhp,4.0,NaN,45.00
6009,Toyota Camry Hybrid,Mumbai,2015,33500,Petrol,Automatic,First,19.16 kmpl,2494 CC,158.2 bhp,5.0,NaN,19.75
6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
6011,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,Petrol,Automatic,First,0.0 kmpl,3597 CC,262.6 bhp,5.0,NaN,4.75
6012,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,9.48
6013,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,4.83
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [26]:
df.set_index((df.columns[0]))
df.drop("New_Price",1,inplace=True)

In [99]:
df.head()
df.fillna(value=0,inplace=True)
df.isnull().sum()

Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [149]:
LabelEncoder=LabelEncoder()
df["Location"]=LabelEncoder.fit_transform(df["Location"])
df["Year"]=LabelEncoder.fit_transform(df["Year"])
df["Fuel_Type"]=LabelEncoder.fit_transform(df["Fuel_Type"])
df["Owner_Type"]=LabelEncoder.fit_transform(df["Owner_Type"])
df["Transmission"]=LabelEncoder.fit_transform(df["Transmission"])

In [49]:
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
Name,,,,,,,,,,,
Maruti Wagon R LXI CNG,9,12,72000,0,1,0,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
Hyundai Creta 1.6 CRDi SX Option,10,17,41000,1,1,0,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
Honda Jazz V,2,13,46000,4,1,0,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
Maruti Ertiga VDI,2,14,87000,1,1,0,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
Audi A4 New 2.0 TDI Multitronic,3,15,40670,1,0,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [104]:
df["Mileage"]=df['Mileage'] = df['Mileage'].str.replace('km/kg', '')
df["Mileage"]=df['Mileage'] = df['Mileage'].str.replace('kmpl', '')
df["Engine"]=df['Engine'] = df['Engine'].str.replace('CC', '')
df["Power"]=df['Power'] = df['Power'].str.replace('bhp', '')
df = df.apply(pd.to_numeric, errors='coerce')
df.dtypes

Location               int64
Year                   int64
Kilometers_Driven      int64
Fuel_Type              int64
Transmission           int32
Owner_Type             int64
Mileage              float64
Engine               float64
Power                float64
Seats                float64
Price                float64
dtype: object

In [105]:
df.fillna(value=0,inplace=True)

In [107]:
df.isnull().sum()

Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [111]:
X=np.array(df.drop("Price",1))
y=df["Price"]
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.3)

In [113]:
clf=LinearRegression()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.5048260237275319

In [117]:
clf=Ridge()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.5047374951988713

In [119]:
clf=Lasso()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.37981110584782385

In [121]:
clf=RandomForestRegressor()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

C:\Users\MMOHTASHIM\Anaconda3\envs\env_full\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8714429235651051

In [125]:
tuned_parameters = {'n_estimators': [500, 700, 1000], 'max_depth': [None,1, 2, 3], 'min_samples_split': [2, 3, 4]}
clf = GridSearchCV(RandomForestRegressor(), tuned_parameters, cv=5, 
                   n_jobs=-1, verbose=1)
clf.fit(X_train, y_train)
clf.score(X_test,y_test)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  5.8min finished

0.8767519700392598

In [129]:
clf=GradientBoostingRegressor()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8690292470794869

In [130]:
df_2=pd.DataFrame({"Regressions Algorithms":["LinearRegression","Ridge",'Lasso','RandomForestRegressor',
                                            'GradientBoostingRegressor'],"Scores":[0.5048260237275319,
                                                                                                                  0.5047374951988713,
                                                                                                                  0.37981110584782385,
                                                                                                                  0.8714429235651051,
                                                                                  0.8690292470794869]})

In [131]:
df_2

      Regressions Algorithms    Scores
0           LinearRegression  0.504826
1                      Ridge  0.504737
2                      Lasso  0.379811
3      RandomForestRegressor  0.871443
4  GradientBoostingRegressor  0.869029

In [160]:
##passing the dataset through the same pipline
df_test=pd.read_excel("test.xlsx")
df_test.set_index((df.columns[0]),inplace=True)
df_test.drop("New_Price",1,inplace=True)
LabelEncoder=LabelEncoder()
df_test["Location"]=LabelEncoder.fit_transform(df_test["Location"])
df_test["Year"]=LabelEncoder.fit_transform(df_test["Year"])
df_test["Fuel_Type"]=LabelEncoder.fit_transform(df_test["Fuel_Type"])
df_test["Owner_Type"]=LabelEncoder.fit_transform(df_test["Owner_Type"])
df_test["Transmission"]=LabelEncoder.fit_transform(df_test["Transmission"])
df_test["Mileage"]=df_test['Mileage'].str.replace('km/kg', '')
df_test["Mileage"]=df_test['Mileage'].str.replace('kmpl', '')
df_test["Engine"]=df_test['Engine'].str.replace('CC', '')
df_test["Power"]=df_test['Power'].str.replace('bhp', '')
df_test = df_test.apply(pd.to_numeric, errors='coerce')
df_test.fillna(value=0,inplace=True)

In [161]:
df_test.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
Name,,,,,,,,,,
Maruti Alto K10 LXI CNG,4,14,40929,0,1,0,32.26,998.0,58.20,4.0
Maruti Alto 800 2016-2019 LXI,3,13,54493,3,1,2,24.70,796.0,47.30,5.0
Toyota Innova Crysta Touring Sport 2.4 MT,9,17,34000,1,1,0,13.68,2393.0,147.80,7.0
Toyota Etios Liva GD,5,12,139000,1,1,0,23.59,1364.0,0.00,5.0
Hyundai i20 Magna,9,14,29000,3,1,0,18.50,1197.0,82.85,5.0

In [163]:
clf=RandomForestRegressor()
clf.fit(X,y)
X_test=np.array(df_test)
predictions=clf.predict(X_test)

C:\Users\MMOHTASHIM\Anaconda3\envs\env_full\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [166]:
df_pred=pd.DataFrame(predictions)
df_pred.to_excel("submission.xlsx")

In [167]:
predictions

array([ 2.485,  2.966, 16.759, ...,  2.014,  3.502, 15.77 ])